# SPDX-License-Identifier: Apache-2.0
# {{ ansible_managed }}

services:
  traefik:
    image: {{ traefik_image }}
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ traefik_config_directory }}/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - {{ traefik_config_directory }}/conf.d:/etc/traefik/conf.d:ro
      - {{ traefik_data_directory }}:/var/lib/traefik
    networks:
      - {{ traefik_docker_network }}

networks:
  {{ traefik_docker_network }}:
    external: true
